<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <style media="screen">

      body {
        height: 100vh;
        width: 100vw;
      }

      header a {
        margin: 20px 100px 0 0;
        float: right;
      }

      .logo {
        width: 150px;
        margin-left: 100px;
      }

      .recipeImage img{
        width: 200px;
      }
      .recipeInfo {
        width: 30%;
      }

      .recipe {
        margin: 10px auto;
        display: flex;
        height: 200px;
        border: 2px solid black;
        width: 80%;
      }

      .viewRecipe {
        width: 10%;
        text-align: right;
      }

    </style>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <title>Cooks Club</title>
  </head>
  <body>
    <header>
      <img class="logo" src="https://seeklogo.com/images/R/restaurant-logo-7B8FF68CBF-seeklogo.com.png">
      <a href="/users/login">Login / Register</a>
    </header>
    <div class="recipeContainer">
        <% for(let i = 0; i < recipes.length; i++) { %>
          <div class="recipe">
            <div class="recipeImage">
              <img src="<%=recipes[i].recipe_image%>" alt="recipe image">
            </div>
            <div class="recipeInfo">
              <h2><%=recipes[i].recipe_name%></h2>
              <p>by - <%=recipes[i].name%></p>
            </div>
            <div class="recipeVotes">
              <p>Total Votes:</p>
              <h1><%=recipes[i].total_votes%></h1>
            </div>
            <div class="viewRecipe">
              <a class="primary" href="/recipe/<%=recipes[i].id%>">View</a>
            </div>
          </div>
        <% } %>

    </div>
  </body>
</html>
